  .footer {
    padding: 40px;
    color: #333;
    font-family: 'Segoe UI', sans-serif;
  }

  .footer-logos {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;
    font-weight: 600;
    color: #666;
  }

  .footer-main {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

    flex-wrap: wrap;
    margin-left: 100px;
  }

  .footer-brand {
    max-width: 500px;

  }

  .footer-brand p {
    margin: 10px 0;
    font-size: 14px;
  }

  .footer-links {
    width: 500px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
  }

  .footer-links h4 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .footer-links ul {
    list-style: none;
    padding: 0;
  }

  .footer-links li {
    margin-bottom: 8px;
  }

  .footer-links a {
    text-decoration: none;
    color: #555;
    font-size: 14px;
  }

  .footer-links a:hover {
    text-decoration: underline;
  }

  .footer-bottom {
    margin-left: 100px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    font-size: 14px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    flex-wrap: wrap;
  }

  .footer-policies a {
    margin: 0 10px;
    color: #666;
    text-decoration: none;
  }

  .footer-socials a {
    margin-left: 10px;
    color: #555;
    font-size: 16px;
  }